<html>
<body>
<table>
	<thead>
		<tr>
			<th>NIM</th>
			<th>Nama Mahasiswa</th>
			<th>Jenis Kelamin</th>
			<th>Alamat</th>
			<th>Kode Jurusan</th>
			<th>Status</th>
			<th>Action</th>
			<th>Hapus</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item:${listMhs}">
		<td><span th:text="${item.nim}"></span></td>
		<td><span th:text="${item.nmMhs}"></span></td>
		<td><span th:text="${item.jk}"></span></td>
		<td><span th:text="${item.alamat}"></span></td>
		<td><span th:text="${item.jurusan.kdJurusan}"></span></td>
		<td><a th:href = "@{edit/{id}(id=${item.id})}">edit</a></td>
        <td><a th:href = "@{hapus/{id}(id=${item.id})}">hapus</a></td>
		</tr>
	</tbody>
</table>
</body>
</html>