<html>
<head>
<title>Index</title>
</head>
<body>
<style>
table {
            border: 1px solid black;
            padding: 20px
        }
</style>
	<form th:action="@{/kelas/save}" method="post">
		<table>
			<caption>
				<h2>Form Kelas</h2>
			</caption>
			<tr>
				<td>Kode Kelas</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdKelas"></td>
			</tr>
			<tr>
				<td>Nama Kelas</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmKelas"></td>
			</tr>
			<tr>
				<td>Kode Dosen</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdDosen"></td>
			</tr>
			<tr>
				<td>Kode Matakuliah</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdMatakuliah"></td>
			</tr>
				<tr>
				<td>Kode Ruang</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdRuang"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> 
				<input type="reset" value="Reset">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>