<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside th:fragment="sidebarmodal" class="main-sidebar" id="sidebar-modal">
		<div class="col-md-3">
			<ul class="widget widget-menu unstyled"
				style="margin-left: 25px; list-style-type: none; margin-left: -15px">

				<li><a href="#"  class="link-modal">Profil</a></li>
				<li><a href="#"  class="link-modal">Biodata</a></li>
				<li><a href="#"  class="link-modal">Pengalaman Kerja</a></li>
				<li><a href="#" class="link-modal">Pendidikan</a></li>
				<li><a href="#"  class="link-modal">Pelatihan</a></li>
				<li><button th:href="@{~/sertifikasi/index}" class="link-modal">Sertifikasi</button></li>
				<li><a href="#"  class="link-modal">Sumber Lowongan Kerja</a></li>
				<li><a href="#"  class="link-modal">Organisasi</a></li>
				<li><a href="#" class="link-modal">Keluarga</a></li>
				<li><a href="#"  class="link-modal">Keahlian</a></li>
				<li><a href="#"  class="link-modal">Lain-lain</a></li>
				<li><a href="#"  class="link-modal">Dokumen</a></li>
				<li><a href="#"  class="link-modal">Catatan</a></li>
				<li><a href="#"  class="link-modal">Aktivasi Akun</a></li>
				<li><a href="#"  class="link-modal">Lihat Tes</a></li>
				<li><a href="#"  class="link-modal">Hasil Tes</a></li>
			</ul>
		</div>
	</aside>

</body>