<html>
<head>
<title>Index</title>
</head>
<body>
<style>
table {
            border: 1px solid black;
            padding: 20px
        }
</style>
	<form th:action="@{/dosen/save}" method="post">
		<table>
			<caption>
				<h2>Form Dosen</h2>
			</caption>
			<input type="hidden" name="id" th:value="${dosenEdit.id}">
			<tr>
				<td>Kode Dosen</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdDosen" th:value="${dosenEdit.kdDosen}"></td>
			</tr>
			<tr>
				<td>Nama Dosen</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmDosen" th:value="${dosenEdit.nmDosen}"></td>
			</tr>
			<tr>
				<td>Jenis Kelamin</td>
				<td>:</td>
				<td><input type="text" size="25" name="jk" th:value="${dosenEdit.jk}"></td>
			</tr>
			<tr>
				<td>Alamat</td>
				<td>:</td>
				<td><input type="text" size="25" name="alamat" th:value="${dosenEdit.alamat}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> 
				<input type="reset" value="Reset">
				</td>
			</tr>
		</table>
	</form>
	<table>
		<th>
			<button type="button"><a href="/dosen/index">View Form</a></button>
			<button type="button"><a href="/dosen/list">View List</a></button>
		</th>
	</table>
</body>
</html>