<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="x_panel">
	<div class="x_title">
		<h2>Keluarga</h2>
		<ul class="nav navbar-right panel_toolbox">
			<li><a href="#"><i class="fa fa-sort-alpha-asc"></i></a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><i
					class="fa fa-list"></i></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="@{~/pelamar/index}" data-size="10">10</a></li>
					<li><a href="@{~/pelamar/index}" data-size="20">20</a></li>
					<li><a href="@{~/pelamar/index}" data-size="30">30</a></li>
					<li><a href="@{~/pelamar/index}" data-size="40">40</a></li>
				</ul></li>
			<li><a th:href="@{~/pelamar/add}" id="btn-add"><i
					class="fa fa-plus"></i></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content" id="sertifikasi-content">
		<div class="row">
		
		</div>
	</div>
</div>
</html>