<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="x_panel">
	<div class="x_title">
		<h2>Pendidikan</h2>
		<ul class="nav navbar-left panel_toolbox">
			<!-- button ADD pendidikan -->
			<li><a th:href="@{~/pendidikan/add/}" id="btn-add-pendidikan" th:attr="data-biodata-id=${biodata.id}"><i class="fa fa-plus"></i></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content" id="pendidikan-content">
		<table class="table">
			<thead>
				<tr>
					<th>Nama Sekolah</th>
					<th>Jenjang</th>
					<th>Periode</th>
					<th>Jurusan</th>
					<th>IPK</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody id="list-pendidikan">
				<tr th:each="item : ${listPendidikan}">
					<td th:text="${item.schoolName}"></td>
					<td th:text="${item.eductationLevel.name}"></td>
					<td>
						<span th:text="${item.entryYear}"></span> - <span th:text="${item.graduationYear}"></span> 
					</td>
					<td th:text="${item.major}"></td>
					<td th:text="${item.gpa}"></td>
					<td>
						<div class="btn-group">
							<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">
								More <span class="caret"></span>
							</button>
							<ul role="menu" class="dropdown-menu">
		                      <li><a th:href="@{/pendidikan/ubah/{sid}(sid=${item.id})}" class="btn-ubah">Ubah</a></li>
		                      <li><a th:href="@{/pendidikan/hapus/{sid}(sid=${item.id})}" class="btn-hapus">Hapus</a></li>
		                    </ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12" id="list-pendidikan">
			
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="form-modal">
	<div class="modal-dialog" style="width:75%;">
		<div class="modal-content" id="form-modal-content">
		</div>
	</div>
</div>

<div class="modal fade" id="hapus-modal">
	<div class="modal-dialog modal-sm modal-danger">
		<div class="modal-content" id="hapus-modal-content">
		</div>
	</div>
</div>

<script type="text/javascript">
	// saat button add di click
	$("#btn-add-pendidikan").click(function(event){
		// cegah link redirect
		event.preventDefault();
		// mengambil nilai dari attribute btn-add-pendidikan
		// lihat sintaks ini th:attr="data-biodata-id=${biodata.id}"
		var biodataId = $(this).attr('data-biodata-id');
		
		// ambil nilai attribute href
		// lihat th:href="@{~/pendidikan/add/}"
		var url =  $(this).attr('href')+biodataId;
		// buat ajax untuk create
		// lihat pendidikan controller @GetMapping(value="/pendidikan/add/{bid}")
		$.ajax({
			url:url,
			type:'GET',
			dataType:'html',
			success:function(data){
				$("#form-modal-content").html(data);
				$("#form-modal").modal('show');
			}
		});
		
	});
	
	// submit data from atau simpan data pendidikan
	$("#form-modal").on('submit','#form-pendidikan', function(){
		// dapatkan url dari attribute action dari form #form-pendidikan
		// lihat di file _create.html
		var url = $(this).attr('action');
		// datakan data form dengan method serialize
		var data = $(this).serialize();
		
		$.ajax({
			url:url,
			type:'POST',
			data : data,
			dataType:'html',
			success:function(data){
				// masukan dulu result ke modal
				$("#form-modal-content").html(data);
				// check jumlah element yang memiliki class has-error
				var check = $("#form-modal-content").find(".has-error").length;
				// jika tidak ada error
				if(check==0){
					$("#form-modal").modal('hide');
					// tampilkan data dengan memanggil method loadData
					loadData();
				}
			}
		});
		// cegah form redirect
		return false;
	})
	.on('click','#btn-close-form', function(){
		$("#form-modal").modal('hide');
	});
	
	function loadData(){
		// ambil nilai biodata id yang disimpan di  $("#btn-add-pendidikan")
		// lihat sintaks ini th:attr="data-biodata-id=${biodata.id}"
		var biodataId = $("#btn-add-pendidikan").attr('data-biodata-id');
		
		$.ajax({
			url:'/pendidikan/list/'+biodataId,
			type:'GET',
			dataType:'html',
			success:function(data){
				// <tbody id="list-pendidikan"> akan di repleace dengan data baru
				// dari file _list.html
				// masukan dulu result ke modal
				$("#list-pendidikan").html(data);
			}
		});
	}
	
	// event hapus
	$('#list-pendidikan').on('click','.btn-hapus', function(event){
		// cegah link redirect
		event.preventDefault();
		
		var url =  $(this).attr('href');
		// buat ajax untuk create
		// lihat pendidikan controller @GetMapping(value="/pendidikan/hapus/{sid}")
		$.ajax({
			url:url,
			type:'GET',
			dataType:'html',
			success:function(data){
				$("#hapus-modal-content").html(data);
				$("#hapus-modal").modal('show');
			}
		});
	}).on('click','.btn-ubah', function(event){
		// cegah link redirect
		event.preventDefault();
		
		var url =  $(this).attr('href');
		// buat ajax untuk create
		// lihat pendidikan controller @GetMapping(value="/pendidikan/hapus/{sid}")
		$.ajax({
			url:url,
			type:'GET',
			dataType:'html',
			success:function(data){
				$("#form-modal-content").html(data);
				$("#form-modal").modal('show');
			}
		});
	});
	
	$("#hapus-modal").on('submit','#form-pendidikan',function(){
		// dapatkan url dari attribute action dari form #form-pendidikan
		// lihat di file _create.html
		var url = $(this).attr('action');
		// datakan data form dengan method serialize
		var data = $(this).serialize();
		$.ajax({
			url:url,
			type:'POST',
			data : data,
			dataType:'html',
			success:function(data){
				$("#hapus-modal").modal('hide');
			}
		});
		// cegah form redirect
		return false;
	})
	.on('click','#btn-close-hapus', function(){
		$("#hapus-modal").modal('hide');
	});
	
	
</script>
</html>