<html xmlns:th="http://www.thymeleaf.org">
<form id="form-biodata">
	<div class="modal-header">
		<button type="button" class="close btn-xs" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Tambah Pelamar</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 form-group">
				<label>Nama Lengkap</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12 form-group">
				<label>Nama Panggilan</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Tempat lahir</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Tanggal lahir</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Jenis Kelamin</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Agama</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Tinggi</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Berat</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Kewarganegaraan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Suku Bangsa</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 form-group">
				<label>Kegemaran</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Jenis Identitas</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Nomor Identitas</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Email</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>No. Hp</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>No. Alternatif</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>No. Telp</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Anak Ke</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Dari Berapa Saudara</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Status Penikahan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-3 col-sm-3 col-xs-12 form-group">
				<label>Tahun Pernikahan</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h4 class="modal-title">Alamat Sesuai Kartu Identitas</h4>
				<hr style="margin-top:0px;"/>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h4 class="modal-title">Alamat Sesuai Kartu Identitas</h4>
				<hr style="margin-top:0px;"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 form-group">
				<label>Alamat</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12 form-group">
				<label>Alamat</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kode Pos</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>RT.</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>RW.</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kode Pos</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>RT.</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>RW.</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Desa/Kelurahan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kecamatan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kota</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Desa/Kelurahan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kecamatan</label>
				<input type="text" class="form-control"/>
			</div>
			
			<div class="col-md-2 col-sm-2 col-xs-12 form-group">
				<label>Kota</label>
				<input type="text" class="form-control"/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="btn-group">
       		<button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
       		<button type="submit" class="btn btn-primary">Simpan</button>
       	</div>
     </div>
</form>
</html>