<html>
<head>
<title>index</title>
</head>
<body>
	<style>
	        table {
	            border: 1px solid black;
	            padding: 20px
	        }
	    </style>
<form action="@{/home/save}" method="post">
<table>
	<caption><h2>Form Mahasiswa</h2></caption>
	<tr>
		<td>KD_FAKULTAS</td>
		<td>:</td>
		<td><input type="text" size="25" name="kdFakultas"></td>
	</tr>
	<tr>
		<td>NM_FAKULTAS</td>
		<td>:</td>
		<td><input type="text" size="25" name="nmFakultas"></td>
	</tr>
</table>
</form>
</body>
</html>