<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header_app">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- sidebar -->
		<aside th:replace="fragments/sidebar :: sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Lookup <small>Update</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a th:href="@{~/lookup/index}">Lookup</a></li>
					<li class="active">Update</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<!-- content mulai -->
						<form th:action="@{~/lookup/update}" th:object="${lookup}" method="post" >
						<div class="box box-warning box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Update Lookup</h3>
							</div>
							<div class="box-body form-horizontal">							
								<div th:class="${#fields.hasErrors('kdLookup')} ? 'form-group has-error':'form-group'">
									<label class="control-label col-md-2">Kode</label>
									<div class="col-md-8">
										<!-- input hiddend id -->
										<input type="hidden" th:field="*{id}" />
										<!-- input kdLookup -->
										<input type="text" th:field="*{kdLookup}" class="form-control" />
										<span th:if="${#fields.hasErrors('nmLookup')}" class="help-block" th:errors="*{kdLookup}">Kode Tidak Boleh Kosong</span>
									</div>
								</div>
								
								<div th:class="${#fields.hasErrors('nmLookup')} ? 'form-group has-error':'form-group'">
									<label class="control-label col-md-2">Nama</label>
									<div class="col-md-8">
										<input type="text" th:field="*{nmLookup}" class="form-control"/>
										<span th:if="${#fields.hasErrors('nmLookup')}" class="help-block" th:errors="*{nmLookup}">Nama Tidak Boleh Kosong</span>
									</div>
								</div>
								
								<div th:class="${#fields.hasErrors('type')} ? 'form-group has-error':'form-group'">
									<label class="control-label col-md-2">Type</label>
									<div class="col-md-8">
										<input type="text" th:field="*{type}" class="form-control"/>
										<span th:if="${#fields.hasErrors('type')}" class="help-block" th:errors="*{type}">Type Tidak Boleh Kosong</span>
									</div>
								</div>
								
								<div th:class="${#fields.hasErrors('posisi')} ? 'form-group has-error':'form-group'">
									<label class="control-label col-md-2">Posisi</label>
									<div class="col-md-8">
										<input type="text" th:field="*{posisi}" class="form-control" />
										<span th:if="${#fields.hasErrors('posisi')}" class="help-block" th:errors="*{posisi}">Posisi Tidak Boleh Kosong</span>
									</div>
								</div>
								
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-warning">
									<i class="fa fa-edit"></i> Update
								</button>
								
								<a th:href="@{~/lookup/index}" class="btn btn-default pull-right">Cancel</a>
							</div>
						</div>
						</form>
						<!-- content selesai -->
					</div>
				</div>
			</section>
		</div>
		<!-- footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	<!-- script javascript -->
	<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>