<html xmlns:th="http://www.thymeleaf.org">
<tbody id="list-biodata" th:object="${biodata}">
	<tr>
		<td>Nama Lengkap</td>
		<td>:</td>
		<td th:text="${biodata.fullname}"></td>
	</tr>
	<tr>
		<td>Nama Panggilan</td>
		<td>:</td>
		<td th:text="${biodata.nickname}"></td>
	</tr>
	<tr>
		<td>Kontak</td>
		<td>:</td>
		<td><span th:text="${biodata.email}"></span> / <span
			th:text="${biodata.phoneNumber1}"></span></td>
	</tr>
	<tr>
		<td>Tempat, Tgl. Lahir</td>
		<td>:</td>
		<td><span th:text="${biodata.pob}"></span>, <span
			th:text="${biodata.dob}"></span></td>
	</tr>
	<tr>
		<td>Jenis Kelamin, Tinggi (cm), Berat (kg)</td>
		<td>:</td>
		<td><span th:if="${biodata.gender == true}">Laki-laki, </span> <span
			th:if="${biodata.gender == false}">Wanita ,</span> <span
			th:text="${biodata.high}">, </span> <span th:text="${biodata.weight}"></span></td>
	</tr>
	<tr>
		<td>Agama</td>
		<td>:</td>
		<td><span th:text="${biodata.religion.name}"></span></td>
	</tr>
	<tr>
		<td>Kewarganergaraan, Suku Bangsa</td>
		<td>:</td>
		<td><span th:text="${biodata.nationality}"></span>, <span
			th:text="${biodata.ethnic}"></span></td>
	</tr>
	<tr>
		<td>Kegemaran / Hobi</td>
		<td>:</td>
		<td th:text="${biodata.hobby}"></td>
	</tr>
	<tr>
		<td>Jenis & Nomor Identitas</td>
		<td>:</td>
		<td><span th:text="${biodata.identityType.name}"></span> - <span
			th:text="${biodata.identityNo}"></span></td>
	</tr>
	<tr>
		<td>Status & Tahun Pernikahan</td>
		<td>:</td>
		<td><span th:text="${biodata.maritalStatus.name}"></span> - <span
			th:text="${biodata.marriageYear}"></span></td>
	</tr>
</tbody>
</html>
