<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside th:fragment="sidebar" class="main-sidebar">
		<div class="span3">
			<div class="sidebar">
				<ul class="widget widget-menu unstyled">
					<li><a href="#">Beranda</a></li>
					<li><a href="#">Pelamar</a></li>
					<li><a href="#">Proses Pelamar</a></li>
					<li>
						<a class="collapsed" data-toggle="collapse" href="#togglePages">
							<i class="fa fa-angle-down pull-right"></i>Penjadwalan 
						</a>
						<ul id="togglePages" class="collapse unstyled">
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 1</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 2</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 3</a></li>
						</ul>
					</li>
					<li>
						<a class="collapsed" data-toggle="collapse" href="#togglePages">
							<i class="fa fa-angle-down pull-right"></i>Test 
						</a>
						<ul id="togglePages" class="collapse unstyled">
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 1</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 2</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 3</a></li>
						</ul>
					</li>
					<li>
						<a class="collapsed" data-toggle="collapse" href="#togglePages">
							<i class="fa fa-angle-down pull-right"></i>Bootcamp 
						</a>
						<ul id="togglePages" class="collapse unstyled">
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 1</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 2</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 3</a></li>
						</ul>
					</li>
					<li>
						<a class="collapsed" data-toggle="collapse" href="#togglePages">
							<i class="fa fa-angle-down pull-right"></i>Laporan 
						</a>
						<ul id="togglePages" class="collapse unstyled">
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 1</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 2</a></li>
							<li><a href="#"><i class="icon-inbox"></i>SubMenu 3</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.sidebar-->
		</div>
		<!--/.span3-->
	</aside>
</body>