<!-- content mulai -->
<form th:action="@{~/sertifikasi/save}" th:object="${sertifikasi}"
	method="post" id="form-sertifikasi">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" >Form Sertifikasi</h4>
		</div>
		<div class= "modal-body">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('certificateName')} ? 'form-group has-error':'form-group'">
						<label class="control-label">Nama Sertifikat</label> <input
							type="text" th:field="*{certificateName}" class="form-control" />
						<span th:if="${#fields.hasErrors('certificateName')}"
							class="help-block" th:errors="*{certificateName}">Nama
							Tidak Boleh Kosong</span>
					</div>
				</div>
			</div>
			
			


			<div class="col-md-5">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('publisher')} ? 'form-group has-error':'form-group'">
						<label class="control-label col-md-2">Penerbit</label> <input
							type="text" th:field="*{publisher}" class="form-control" /> <span
							th:if="${#fields.hasErrors('publisher')}" class="help-block"
							th:errors="*{publisher}">Penerbit Tidak Boleh Kosong</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('validStartMonth')} ? 'form-group has-error':'form-group'">
						<label class="control-label">Berlaku Mulai*</label> <select
							class="form-control select2" th:field="*{validStartMonth}"
							style="width: 100%;">
							<option selected="selected" value="">Pilih Bulan</option>
						
						</select> <span th:if="${#fields.hasErrors('validStartMonth')}"
							class="help-block" th:errors="*{validStartMonth}">bulan
							Tidak Boleh Kosong</span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('validStartYear')} ? 'form-group has-error':'form-group'">
						<label class="control-label"></label> <select
							class="form-control select2" th:field="*{validStartYear}"
							style="width: 100%;">
							<option selected="selected" value="">Pilih Tahun</option>
				
						</select> <span th:if="${#fields.hasErrors('validStartYear')}"
							class="help-block" th:errors="*{validStartYear}">
							Tidak Boleh Kosong</span>
					</div>
				</div>
			</div>




			<div class="col-md-2">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('untilMonth')} ? 'form-group has-error':'form-group'">
						<label class="control-label">Berlaku Sampai *</label> <select
							class="form-control select2" th:field="*{untilMonth}"
							style="width: 100%;">
							<option selected="selected" value="">Pilih Bulan</option>
						
						</select> <span th:if="${#fields.hasErrors('untilMonth')}"
							class="help-block" th:errors="*{untilMonth}">bulan Tidak
							Boleh Kosong</span>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<div
						th:class="${#fields.hasErrors('validStartYear')} ? 'form-group has-error':'form-group'">
						<label class="control-label"></label> <select
							class="form-control select2" th:field="*{validStartYear}"
							style="width: 100%;">
							<option selected="selected" value="">Pilih Tahun</option>
						</select> <span th:if="${#fields.hasErrors('untilYear')}"
							class="help-block" th:errors="*{untilYear}"> Tidak
							Boleh Kosong</span>
					</div>
				</div>
			</div>
		</div>
		<!-- modal mulai -->
	<div class="modal fade" id="modal-input">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>
	<!-- modal selesai -->
	

		<div class="box-footer">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-save"></i> Save
			</button>

			<button th:href="@{~/sertifikasi/index}"
				class="link-modal">Cancel</button>
		</div>
	</div>
	<!-- script untuk CRUD page sertifikasi  -->
<script>
$(document).ready(function () {
    $('.tahun').datepicker({
        format: "yyyy",
        autoclose:true
    });
});
</script>

</form>
<!-- content selesai -->