<!-- content mulai -->
<form class="" th:action="@{~/pelamar/save}" th:object="${pelamar}"
	method="post" id="form-pelamar">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Masukan Biodata</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div th:class="${#fields.hasErrors('biodata.fullname')} ? 'form-group has-error':'form-group'">
							<label class="control-label">Nama Lengkap *</label> 
							<input type="text" th:field="*{biodata.fullname}" class="form-control" name="" />
							<span th:if="${#fields.hasErrors('biodata.fullname')}" class="help-block" th:errors="*{biodata.fullname}">fullname Tidak Boleh Kosong</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div
							th:class="${#fields.hasErrors('biodata.nickname')} ? 'form-group has-error':'form-group'">
							<label class="control-label">Nama Panggilan *</label> <input
								type="text" th:field="*{biodata.nickname}" class="form-control" /> <span
								th:if="${#fields.hasErrors('biodata.nickname')}" class="help-block"
								th:errors="*{biodata.nickname}">nickname Tidak Boleh Kosong</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<div
							th:class="${#fields.hasErrors('biodata.pob')} ? 'form-group has-error':'form-group'">
							<label class="control-label">Tempat Lahir *</label> <input
								type="text" th:field="*{biodata.pob}" class="form-control" name="" /> <span
								th:if="${#fields.hasErrors('biodata.pob')}" class="help-block"
								th:errors="*{biodata.pob}">pob Tidak Boleh Kosong</span>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group" id="marriedDiv">
						<div
							th:class="${#fields.hasErrors('biodata.dob')} ? 'form-group has-error':'form-group'">
							<label class="control-label">Tgl. Lahir (yyyy-mm-dd) *</label> <input
								type="text" th:field="*{biodata.dob}" class="form-control datepicker" />
							<span th:if="${#fields.hasErrors('biodata.dob')}" class="help-block"
								th:errors="*{biodata.dob}">dob Tidak Boleh Kosong</span>
						</div>
					</div>
				</div>
					<div class="col-md-3">
						<div class="form-group">
							<div
								th:class="${#fields.hasErrors('biodata.gender')} ? 'form-group has-error':'form-group'">
								<label class="control-label">Jenis Kelamin *</label> <select
									class="form-control select2" th:field="*{biodata.gender}"
									style="width: 100%;">
									<option selected="selected" value="">Pilih</option>
									<option value="1">Pria</option>
									<option value="0">Wanita</option>
								</select> <span th:if="${#fields.hasErrors('biodata.gender')}"
									class="help-block" th:errors="*{biodata.gender}">gender Tidak
									Boleh Kosong</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<div
								th:class="${#fields.hasErrors('biodata.religionId')} ? 'form-group has-error':'form-group'">
								<label class="control-label">Agama *</label> 
								<select class="form-control select2" th:field="*{biodata.religionId}" style="width: 100%;">
									<option selected="selected" value="">Pilih</option>
									<option value="1">Islam</option>
									<option value="2">Kristen</option>
									<option value="3">Katolik</option>
									<option value="4">Hindu</option>
									<option value="5">Budha</option>
									<option value="6">Kong Hu Cu</option>
								</select> <span th:if="${#fields.hasErrors('biodata.religionId')}"
									class="help-block" th:errors="*{biodata.religionId}">religion
									Tidak Boleh Kosong</span>
							</div>
						</div>
					</div>
				</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.high')} ? 'form-group has-error':'form-group'">
										<label class="control-label">Tinggi(cm) *</label> <input
											type="text" th:field="*{biodata.high}" class="form-control" name="" />
										<span th:if="${#fields.hasErrors('biodata.high')}" class="help-block"
											th:errors="*{biodata.high}">tinggi Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.weight')} ? 'form-group has-error':'form-group'">
										<label class="control-label">Berat(kg) *</label> <input
											type="text" th:field="*{biodata.weight}" class="form-control" /> <span
											th:if="${#fields.hasErrors('biodata.high')}" class="help-block"
											th:errors="*{biodata.weight}">berat Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.nationality')} ? 'form-group has-error':'form-group'">
										<label class="control-label">Kewarganegaraan *</label> <input
											type="text" th:field="*{biodata.nationality}" class="form-control" />
										<span th:if="${#fields.hasErrors('biodata.nationality')}"
											class="help-block" th:errors="*{biodata.nationality}">kewarganegaraan
											Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Suku Bangsa</label> <input
										type="text" th:field="*{biodata.ethic}" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								<div
										th:class="${#fields.hasErrors('biodata.hobby')} ? 'form-group has-error':'form-group'">
									<label class="control-label">Kegemaran/Hobi</label> <input
										type="text" th:field="*{biodata.hobby}" class="form-control" name="" />
										<span th:if="${#fields.hasErrors('biodata.hobby')}"
											class="help-block" th:errors="*{biodata.hobby}">hobby
											Tidak Boleh Kosong</span>
								</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.identityTypeId')} ? 'form-group has-error':'form-group'">
										<label class="control-label">Jenis Identitas *</label> <select
											class="form-control select2" th:field="*{biodata.identityTypeId}"
											style="width: 100%;">
											<option selected="selected" value=""></option>
											<option value="1">KTP</option>
											<option value="2">SIM</option>
											<option value="3">PASPOR</option>
										</select> <span th:if="${#fields.hasErrors('biodata.identityTypeId')}"
											class="help-block" th:errors="*{biodata.identityTypeId}">kewarganegaraan
											Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Nomor Identitas</label> <input
										type="text" th:field="*{biodata.identityNo}" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.email')} ? 'form-group has-error':'form-group'">
										<label class="control-label">Email *</label> <input
											type="text" th:field="*{biodata.email}" class="form-control" name="" />
										<span th:if="${#fields.hasErrors('biodata.email')}" class="help-block"
											th:errors="*{biodata.email}">email Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">

									<label class="control-label">No. HP</label> <input type="text" th:field="*{biodata.phoneNumber1}"
										class="form-control" />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">No. HP Alternatif</label> <input
										type="text" th:field="*{biodata.phoneNumber2}" class="form-control" />
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<div
										th:class="${#fields.hasErrors('biodata.parentPhoneNumber')} ? 'form-group has-error':'form-group'">
										<label class="control-label">No. Tlp(Rumah/Orang Tua)
											*</label> <input type="text" th:field="*{biodata.parentPhoneNumber}"
											class="form-control" /> <span
											th:if="${#fields.hasErrors('biodata.parentPhoneNumber')}"
											class="help-block" th:errors="*{biodata.parentPhoneNumber}">nomor
											Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
						</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('biodata.childSequence')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Anak Ke *</label> <input
												type="text" th:field="*{biodata.childSequence}" class="form-control"
												name="" /> <span
												th:if="${#fields.hasErrors('biodata.childSequence')}"
												class="help-block" th:errors="*{biodata.childSequence}">
												Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('biodata.howManyBrothers')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Dari Berapa Saudara *</label> <input
												type="text" th:field="*{biodata.howManyBrothers}"
												class="form-control" /> <span
												th:if="${#fields.hasErrors('biodata.howManyBrothers')}"
												class="help-block" th:errors="*{biodata.howManyBrothers}">
												Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('biodata.maritalStatusId')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Status Pernikahan *</label> <select
												class="form-control select2" th:field="*{biodata.maritalStatusId}"
												style="width: 100%;">
												<option selected="selected" value=""></option>
												<option value="1">Menikah</option>
												<option value="2">Belum Menikah</option>
											</select> <span th:if="${#fields.hasErrors('biodata.maritalStatusId')}"
												class="help-block" th:errors="*{biodata.maritalStatusId}">
												Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div th:class="${#fields.hasErrors('biodata.marriageYear')} ? 'form-group has-error':'form-group'" id="marriedYear">
										<label class="control-label">Tahun Pernikahan</label>
										<span th:if="${#fields.hasErrors('biodata.marriageYear')}" class="help-block" th:errors="*{biodata.marriageYear}"> Tidak Boleh Kosong</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group text-center"
										style="border-bottom: 2px solid black;">
										<label class="control-label"><b>Alamat Sesuai
												Identitas</b></label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group text-center"
										style="border-bottom: 2px solid black;">
										<label class="control-label"><b>Alamat Sesuai
												Tempat Tinggal Saat ini</b></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.address1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Alamat *</label> <input
												type="text" th:field="*{address.address1}" class="form-control"
												name="" /> <span th:if="${#fields.hasErrors('address.address1')}"
												class="help-block" th:errors="*{address.address1}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.address2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Alamat *</label> <input
												type="text" th:field="*{address.address2}" class="form-control"
												name="" /> <span th:if="${#fields.hasErrors('address.address2')}"
												class="help-block" th:errors="*{address.address2}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Kode Pos</label> <input
											type="text" th:field="*{address.postalCode1}" class="form-control" name="" />
									</div>
								</div>
								<div class="col-md-1">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.rt1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">RT *</label> <input type="text"
												th:field="*{address.rt1}" class="form-control" /> <span
												th:if="${#fields.hasErrors('address.rt1')}" class="help-block"
												th:errors="*{address.rt1}"> Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-1">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.rw1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">RW *</label> <input type="text"
												th:field="*{address.rw1}" class="form-control" /> <span
												th:if="${#fields.hasErrors('address.rw1')}" class="help-block"
												th:errors="*{address.rw1}"> Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">Kode Pos</label> <input
											type="text" th:field="*{address.postalCode2}" class="form-control" name="" />
									</div>
								</div>
								<div class="col-md-1">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.rt2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">RT *</label> <input type="text"
												th:field="*{address.rt2}" class="form-control" /> <span
												th:if="${#fields.hasErrors('address.rt2')}" class="help-block"
												th:errors="*{address.rt2}"> Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-1">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.rw2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">RW *</label> <input type="text"
												th:field="*{address.rw1}" class="form-control" /> <span
												th:if="${#fields.hasErrors('address.rw2')}" class="help-block"
												th:errors="*{address.rw2}"> Tidak Boleh Kosong</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.kelurahan1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Desa/Kelurahan *</label> <input
												type="text" th:field="*{address.kelurahan1}" class="form-control"
												name="" /> <span th:if="${#fields.hasErrors('address.kelurahan1')}"
												class="help-block" th:errors="*{address.kelurahan1}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.kecamatan1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Kecamatan *</label> <input
												type="text" th:field="*{address.kecamatan1}" class="form-control" />
											<span th:if="${#fields.hasErrors('address.kecamatan1')}"
												class="help-block" th:errors="*{address.kecamatan1}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.region1')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Kota *</label> <input
												type="text" th:field="*{address.region1}" class="form-control" />
											<span th:if="${#fields.hasErrors('address.region1')}"
												class="help-block" th:errors="*{address.region1}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.kelurahan2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Desa/Kelurahan *</label> <input
												type="text" th:field="*{address.kelurahan2}" class="form-control"
												name="" /> <span th:if="${#fields.hasErrors('address.kelurahan2')}"
												class="help-block" th:errors="*{address.kelurahan2}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.kecamatan2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Kecamatan *</label> <input
												type="text" th:field="*{address.kecamatan2}" class="form-control" />
											<span th:if="${#fields.hasErrors('address.kecamatan2')}"
												class="help-block" th:errors="*{address.kecamatan2}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<div
											th:class="${#fields.hasErrors('address.region2')} ? 'form-group has-error':'form-group'">
											<label class="control-label">Kota *</label> <input
												type="text" th:field="*{address.region2}" class="form-control" />
											<span th:if="${#fields.hasErrors('address.region2')}"
												class="help-block" th:errors="*{address.region2}"> Tidak
												Boleh Kosong</span>
										</div>
									</div>
								</div>
							</div>
					</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary pull-right">
								<i class="fa fa-save"></i> Save
							</button>
							<button data-dismiss="modal" class="btn btn-default pull-right">Cancel</button>
						</div>
					</div>
</form>
<script>
	$(document).ready(function() {
		var minOffset = 0, maxOffset = 20; // Change to whatever you want
		var thisYear = (new Date()).getFullYear();
		var select = $('<select class="form-control" th:field="*{biodata.marriageYear}" id="biodata.marriageYear" name="biodata.marriageYear">');
		
		$('<option>', {
			value : "",
			text : "Pilih"
		}).appendTo(select);
	
		for (var i = minOffset; i <= maxOffset; i++) {
			var year = thisYear - i;
			$('<option>', {
				value : year,
				text : year
			}).appendTo(select);
		}

		$("#marriedYear").append(select);

		$("#marriedDiv input").datepicker({
			 format: 'yyyy-mm-dd'
		});
		

	})
</script>
<!-- content selesai -->