<html xmlns:th="http://www.thymeleaf.org">
	<tr th:each="item : ${listorganisasi}">
		<td th:text="${item.name}"></td>
		<td th:text="${item.position}"></td>
		<td>
			<span th:text="${item.entryYear}"></span> - <span th:text="${item.exitYear}"></span>
		</td>
		<td>
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">
					More <span class="caret"></span>
				</button>
				<ul role="menu" class="dropdown-menu">
                     <li><a th:href="@{/organisasi/ubah/{sid}(sid=${item.id})}" class="btn-ubah">Ubah</a></li>
                     <li><a th:href="@{/organisasi/hapus/{sid}(sid=${item.id})}" class="btn-hapus">Hapus</a></li>
                   </ul>
			</div>
		</td>
	</tr>
</html>