<!DOCTYPE HTML>
<html>
<head></head>
<body>

	<!-- Header -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<font color="white" class="pull-left"
				style="margin-left: 10px; margin-top: 15px">Detail Pelamar</font>
			<button type="button" class="close btn-warning" data-dismiss="modal"
				aria-label="Close" style="margin-top: 10px">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

	</nav>
	<!-- /Header -->

	<!-- Content Wrapper -->
	<div class="wrapper">
		<div class="container">
			<!-- Sidebar Menu -->
			<div class="span3">
				<div class="sidebar">
					<ul class="widget widget-menu unstyled" style="padding: 35px">
						<li><a href="#">Profil</a></li>
						<li><a href="#">Biodata</a></li>
						<li><a href="#">Pengalaman Kerja</a></li>
						<li><a href="#">Pendidikan</a></li>
						<li><a href="#">Pelatihan</a></li>
						<li><a href="#">Sertifikasi</a></li>
						<li><a href="#">Sumber Lowongan Kerja</a></li>
						<li><a href="#">Organisasi</a></li>
						<li><a href="#">Keluarga</a></li>
						<li><a href="#">Keahlian</a></li>
						<li><a href="#">Lain-lain</a></li>
						<li><a href="#">Dokumen</a></li>
						<li><a href="#">Catatan</a></li>
						<li><a href="#">Aktivasi Akun</a></li>
						<li><a href="#">Lihat Tes</a></li>
						<li><a href="#">Hasil Tes</a></li>
					</ul>
				</div>
				<!--/.sidebar-->
			</div>
		</div>
	</div>
</body>
</html>
