<html>
<head>
<title>Index</title>
</head>
<body>
<style>
table {
            border: 1px solid black;
            padding: 20px
        }
</style>
	<form th:action="@{/matakuliah/save}" method="post">
		<table>
			<caption>
				<h2>Form Mata Kuliah</h2>
			</caption>
			<tr>
				<td>Kode Matakuliah</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdMatakuliah"></td>
			</tr>
			<tr>
				<td>Nama Matakuliah</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmMatakuliah"></td>
			</tr>
			<tr>
				<td>SKS</td>
				<td>:</td>
				<td><input type="text" size="25" name="sks"></td>
			</tr>
			<tr>
				<td>Kode Jurusan</td>
				<td>:</td>
				<td><select name="kdJurusan">
					<option th:each="item:${listJurusan}" th:value="${item.id}" th:text="${item.kdJurusan}">Pilih Fakultas</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> 
				<input type="reset" value="Reset">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>