<html>
<body>
<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
	</style>
<table>
	<thead>
		<tr>
			<th>Kode Matakuliah</th>
			<th>Nama Matakuliah</th>
			<th>SKS</th>
			<th>Kode Jurusan</th>
			<th>Action</th>
			<th>Hapus</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item:${matakuliahList}">
		<td><span th:text="${item.kdMatakuliah}"></span></td>
		<td><span th:text="${item.nmMatakuliah}"></span></td>
		<td><span th:text="${item.sks}"></span></td>
		<td><span th:text="${item.jurusan.kdJurusan}"></span></td>
		<td><a th:href = "@{edit/{id}(id=${item.id})}">edit</a></td>
        <td><a th:href = "@{hapus/{id}(id=${item.id})}">hapus</a></td>
		</tr>
	</tbody>
</table>
<table>
		<th>
			<button type="button"><a href="/matakuliah/index">View Form</a></button>
		</th>
	</table>
</body>
</html>