<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- style

 table,tr,td{
    font-family: Verdana;
	color : DarkBlue;
	border-top: 2px solid blue;
    padding: 15px;
    border-collapse: collapse;
 }
 
 
 tr:nth-child(even){
	 background-color: #f2f2f2;
}
 

 .posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
 }
 body{
    background-image: url('images.jpg');
    background-repeat: no-repeat;
    background-size: 1400px auto;
 }

-->

<style>
 table,tr,td{
    font-family: Verdana;
	color : DarkBlue;
	border-top: 2px solid blue;
    padding: 15px;
 }
</style>

<form th:action="@{~/biodata/edit/}" th:object="${biodata}" method="post" id="form-biodata">
	<div class="x_panel">
		<div class="x_title">
			<h2>Biodata</h2>
			<ul class="nav navbar-left panel_toolbox">
				<li>
					<a th:href="@{~/pelamar/edit/{id}(id=${biodata.id})}" id="btn-edit-biodata" class="btn-edit">
						<i class="fa fa-edit"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content" id="biodata-content">
			<div class="row">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>Nama Lengkap</td>
							<td>:</td>
							<td th:text="${biodata.fullname}"></td>
						</tr>
						<tr>
							<td>Nama Panggilan</td>
							<td>:</td>
							<td th:text="${biodata.nickname}"></td>
						</tr>
						<tr>
							<td>Kontak</td>
							<td>:</td>
							<td><span th:text="${biodata.email}"></span> / <span
								th:text="${biodata.phoneNumber1}"></span></td>
						</tr>
						<tr>
							<td>Tempat, Tgl. Lahir</td>
							<td>:</td>
							<td><span th:text="${biodata.pob}"></span>, <span
								th:text="${biodata.dob}"></span></td>
						</tr>
						<tr>
							<td>Jenis Kelamin, Tinggi (cm), Berat (kg)</td>
							<td>:</td>
							<td><span th:if="${biodata.gender == TRUE}">Laki-laki ,</span>
							<span th:if="${biodata.gender == false}">Wanita ,</span>
							<span th:text="${biodata.high}"></span>, 
							<span th:text="${biodata.weight}"></span></td>
						</tr>
						<tr>
							<td>Agama</td>
							<td>:</td>
							<td><span th:text="${biodata.religion.name}"></span></td>
						</tr>
						<tr>
							<td>Kewarganergaraan, Suku Bangsa</td>
							<td>:</td>
							<td><span th:text="${biodata.nationality}"></span>, <span
								th:text="${biodata.ethnic}"></span></td>
						</tr>
						<tr>
							<td>Kegemaran / Hobi</td>
							<td>:</td>
							<td th:text="${biodata.hobby}"></td>
						</tr>
						<tr>
							<td>Jenis & Nomor Identitas</td>
							<td>:</td>
							<td><span th:text="${biodata.identityType.name}"></span> - <span
								th:text="${biodata.identityNo}"></span></td>
						</tr>
						<tr>
							<td>Status & Tahun Pernikahan</td>
							<td>:</td>
							<td><span th:text="${biodata.maritalStatus.name}"></span> -
								<span th:text="${biodata.marriageYear}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="form-modal">
	<div class="modal-dialog" style="width: 75%;">
		<div class="modal-content" id="form-modal-content"></div>
	</div>
</div>

<div class="modal fade" id="hapus-modal">
	<div class="modal-dialog modal-sm modal-danger">
		<div class="modal-content" id="hapus-modal-content"></div>
	</div>
</div>

<script type="text/javascript">

	/*

	//saat button add di click
	$("#btn-edit-bio").click(function(event) {
	// cegah link redirect
	event.preventDefault();
	// mengambil nilai dari attribute btn-add-sertifikasi
	// lihat sintaks ini th:attr="data-biodata-id=${biodata.id}"
	var biodataId = $(this).attr('data-biodata-id');

	// ambil nilai attribute href
	// lihat th:href="@{~/sertifikasi/add/}"
	var url = $(this).attr('href') + biodataId;
	// buat ajax untuk create
	// lihat sertifikasi controller @GetMapping(value="/sertifikasi/add/{bid}")
	$.ajax({
		url : url,
		type : 'GET',
		dataType : 'html',
		success : function(data) {
			$("#form-modal-content").html(data);
			$("#form-modal").modal('show');
		}
	});
	});
	
	// event edit
	$('#form-biodata').on('click', '.btn-edit', function(event) {
		// cegah link redirect
		event.preventDefault();

		var url = $(this).attr('href');
		// buat ajax untuk create
		// lihat sertifikasi controller @GetMapping(value="/sertifikasi/ubah/{sid}")
		$.ajax({
			url : url,
			type : 'GET',
			dataType : 'html',
			success : function(data) {
				$("#form-modal-content").html(data);
				$("#form-modal").modal('show');
			}
		});
	});
	
	*/
	
</script>
</html>