<html xmlns:th="http://www.thymeleaf.org">
	<tr th:each="item : ${listcatatan}">
		<td th:text="${item.title}"></td>
		<td th:text="${item.noteType.name}"></td>
		<td th:text="${item.user.abuid}"></td>
		<td>
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">
					More <span class="caret"></span>
				</button>
				<ul role="menu" class="dropdown-menu">
                     <li><a th:href="@{/catatan/ubah/{sid}(sid=${item.id})}" class="btn-ubah">Ubah</a></li>
                     <li><a th:href="@{/catatan/hapus/{sid}(sid=${item.id})}" class="btn-hapus">Hapus</a></li>
                   </ul>
			</div>
		</td>
	</tr>
</html>